/* 
    Document   : style.css
    Created on : Dec 6, 2011, 3:29:26 PM
    Author     : habarnam
    Description:
        Purpose of the stylesheet follows.
*/


root { 
	display: block;
}
.prod_name {
	font-size:1.3em;
	margin-left:10px;
}
.prod_name span {
	font-size:0.7em;
}
.prod_desc {
	font-size:0.9em;
	margin-left:10px;
}
.even {
	/* background-color: #fff; */
	margin-top: 2px;
	margin-bottom: 2px;
}
.odd { 
	background-color: #eee;
}
.opt_group {
	padding: 4px;
}
.opt_group label {
	margin-right:10px;
}
.details {
	width: 300px;
}
.details label {
	display:block;
	height : 1em;
	padding-top:4px;
}
.details input,.details select {
	margin-top: -4px;
	float:right;
	clear: right;
}
#locale_select {
	float:right;
}