html, body {
	padding:0;
	font-size:10pt;
}
body {
	color:#292929;
	margin:0;
	position:relative;
}
a:hover, a:active {
	text-decoration: underline;
}
a:active, a:focus, button:active, button:focus, input:active, input:focus {
	outline: none !important;
}
a {
	/*/color:#5795B9;/**/
	/**/color:#05649A;/**/
	text-decoration: none;
}
select {
	min-width:90px;
}
#header {
	background: url("/images/bg1.png") repeat-x scroll left bottom #FFFFFF;
	overflow:auto;
}
#header>div {
	width:680px;
	margin:auto;
	position:relative;
}
#header h1 {
	float:left;
	margin-bottom:6px;
	margin-top:2px;
}
#header #cart_small a {
	margin-right:10px;
	margin-top:5px;
}
#header #cart_small {
	/*/margin-top:5px;/**/
	float:right;
	font-size:70%;
	/*/width:300px;/**/
	height:40px;
	overflow: visible;
}
#main-content {
	width:680px;
	margin:auto;
	overflow: auto;
}
#main-content #locale-change {
	float:right;
	clear:both;
	/*/
	width:200px;
	margin-top:8px;
	/**/
}
#locale_form {
	float:left;
	margin-right: 5px;
}
#locale_form select {
	min-width:18px !important;
}
.products {
	padding:4px;
	border:1px solid #E5E5E5;
	border-radius:3px;
}
.products h3 {
	border-bottom:1px solid #CCCCCC;
	padding: 0 0 3px 5px;
	color: #292929;
	margin: 5px 0;
}
.total_price {
	color:#519B0C;
	font-size:120%;
	font-weight: bold;
	padding-top:5px;
}
.products address {
	font-size:70%;
	clear:both;
	margin-top:4px;
	color:#B8B8B8;
}
table.prod_details {
	padding:0px;
	border:0;
	border-spacing: 0;
}
table.prod_details .c_description {
	width:400px;
}
table.prod_details .c_details {
	width:100px;
	text-align: right;
}
table.prod_details .c_actions {
	width:30px;
	text-align: center;
}
table.prod_details th {
	text-transform: uppercase;
}
table.prod_details tr td {
	padding:10px 4px 4px 2px;
}
table.prod_details td {
	border:1px solid #E5E5E5;
	border-bottom:0px;
	border-top:0px;
}
.prod_details {
	margin-top:2px;
	background-color:#E5E5E5;
	padding:10px 6px;
	font-size:90%;
}
.prod_description .modify_quantity {
	width:10px;
	float:right;
	font-weight:bold;
	font-size:140%;
	line-height:6px;
	margin-top:5px;
}
.prod_description .modify_quantity a {
	padding:0;
	margin:0;
	text-decoration: none;
}
.prod_description img {
	margin-right:10px;
}
.prod_description {
	background-color:#FFFFFF;
	/**/margin: 4px -6px;/**/
	min-height:40px;
	padding:5px;
	overflow:visible;
}
.prod_description div p {
	text-indent:10px;
	padding-left:5px;
}
.prod_description div.description {
	font-size:85%;
	/*/color:#3FADEC;/**/
	/**/color:#595959;/**/
	overflow:auto;
}
.prod_description h4 {
	margin: 4px 10px;
	/*/font-size:100%;
	float:left;
	clear:right;/**/
}
.prod_description h4 span {
	font-size:80%;
}
.prod_desc {
	font-size:0.9em;
	margin-left:10px;
}
.opt_group {
	padding-left: 4px;
	display:inline;
}
.opt_group label {
	margin-right:10px;
}
.order_details {
	float:right;
	width:680px;
	margin:12px 0px;
}
.details fieldset {
	border:none;
	margin:0px;
}
.disclaimer, .details {
	border: 1px solid #CCCCCC !important;
	border-radius:4px;
	background-color:#EBEBEB;
	font-size:80%;
	overflow:auto;
}
.disclaimer {
	padding:10px;
}
.details {
	width: 332px;
	float:left;
	font-weight: bold;
	overflow: hidden;
}
.details legend, .disclaimer h3 {
	border-bottom: 1px solid #CCCCCC;
	margin-top: 10px;
	padding: 4px 0;
	font-size:120%;
	width: 100%;
}
.details label.place_order button img {
	display:block;
	float:right;
	margin-left:12px;
	margin-top:-7px
}
.details label.place_order button, .frm button[type=submit] {
	height:34px;
	margin-top: 2px;
	padding:0 14px;
	padding-top:7px;
	border:1px outset #9FD169;
	border-radius:4px;
	color: #FFFFFF;
	font-size:110%;
	font-weight:bold;
	background: url("/images/bg3.png") repeat-x scroll left bottom #FFFFFF;
	min-width:160px
}
.details label.place_order {
	clear:both;
	height:42px;
	background: url("/images/bg2.png") repeat-x scroll left top #FFFFFF;
	border:1px solid #E4E4E4;
	border-radius:4px;
	text-align:center;
	margin-top:20px;
}
.ui-corner-all {
	border-radius: 0 !important;
}
.ui-widget-header {
	background-image: none !important;
	background-color: #EBEBEB !important;
	border:none !important;
}
.ui-tabs-nav {
	/*/padding-left:10px !important;/**/
}
.ui-tabs-nav li {
	margin-left:5px !important;
	margin-bottom:1px !important;
}
#billing_details {
	height:425px;
}
#payment_details {
	height:425px;
	margin:0;
	/*/padding:0;/**/
}
#payment_details #tabs {
	width:335px;
	margin-left:-9px;
	/*/margin-left:-2px;
	margin-right:-2px;/**/
}
.ui-tabs .ui-tabs-panel {
	/*/padding: 4px;/**/
}
#payment_details #tabs .card_pick {
	margin-left: -26px;
	margin-right: -26px;
}
#payment_details .card_pick {
	background-color: #DBDBDB;
	text-align: center;
	margin:2px -8px;
	overflow:auto;
	padding-left:14px;
}
#payment_details .card_pick label input {
	margin:auto;
	float:none;
}
#payment_details .card_pick label {
	padding-top:8px;
	display:block;
	width: 78px;
	height: 54px;
	float:left;
	overflow:auto;
}
.details select {
	height: 2.4em;
	margin-top: -10px;
	padding: 6px 2px;
}
.details label {
	display:block;
	height : 1em;
	padding-top:4px;
	/*/height:23px;/**/
}
.details input {
	margin-top: -5px;
	float:right;
	clear: right;
	/**/height:18px;/**/
}
#locale_select {
	float:right;
}
.error, .mandatory {
	color: #ee2222;
	font-size:85%;
}
.frm button[type=submit] {
	float:right;
	padding:0 14px;
}
select>option[value=""] {
	font-style:italic;
}
.disclaimer {
	margin:10px 0;
}
.disclaimer .secure {
	width:200px;
	float:right;
}
.disclaimer .hotline {
	width:360px;
	float:left;
}
.disclaimer .hotline h5 {
	font-weight:bold;
	font-size:110%;
	padding-left:4px;
}
.disclaimer hr {
	display:block;
	clear:both;
}
.disclaimer dl dd {
	/*/display:block;
	clear:right;/**/
}
.disclaimer dl dt {
	float: left;
	font-weight: bold;
	padding-left: 20px;
	width: 165px;
}
.disclaimer p {
	text-indent: 30px;
}
#footer {
	font-size:80%;
	/*/margin-top:-3em;
	position:absolute;
	bottom:0px;/**/
}
#waiting {
	background: url("/images/waiting.gif") no-repeat left top #FFFFFF;
	width:22px;
	height:11px;
}
table.prod_details td.empty {
	padding: 34px 4px;
	text-align:center;
	font-size:1.2em;
}
.slider_inp {
    border:none;
    background-color: #E5E5E5;
    font-size:1.1em;
    font-weight: bold;
    margin-left:1em;
}
.slider {
    width: 400px;
}
.slider.ui-slider.ui-slider-horizontal {
	height: 2px;
	margin-bottom:8px;
}
.slider.ui-slider.ui-slider-horizontal .ui-slider-handle {
	height:10px;
	width: 3px;
	border:1px solid darkred;
}